@charset "utf-8";

.container {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.title {
    font-weight: bold;
    font-style: normal;
    font-family: "Source Sans Pro";
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.mainTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4e9c38;
    width: 100%;

    text-align: center;
    border-collapse: collapse;

}
.mainTable tbody {

    background: #4e9c38;
}
.mainTable tbody td, .mainTable thead th {
    border: 1px  solid #000000;
    padding: 3px 2px;
}
.mainTable tbody td {
    height: 200px;
    font-size: 28px;
    color: #E6E6E6;

}
.mainTable tbody tr:nth-child(even) {
    background: #4e9c38;
}
.mainTable thead {

    background: #2b5727;
    border-bottom: 3px solid #000000;
}
.mainTable thead th {
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #000000;

}
.mainTable thead th:first-child {
    border-left: none
}

body {
    margin-top:  0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

@media (max-width: 320px) {
    .secondary_header ul li {
        float: none;
        margin-top: 28px;
        margin-left: 0px;
        width: 100%;
    }
    .container .secondary_header ul {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .secondary_header {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 1px;
        padding-bottom: 40px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .secondary_header ul li {
        float: none;
        margin-top: 28px;
        margin-left: 0px;
        width: 100%;
    }
    .container .secondary_header ul {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .secondary_header {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 1px;
        padding-bottom: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .secondary_header {
        overflow: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .secondary_header ul li {
        margin-top: 10px;
        margin-right: 7%;
        margin-bottom: 10px;
        margin-left: 7%;
    }
}
#menu {
}
